<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aryupay.helpingapp"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:allowBackup,android:usesCleartextTraffic">
        <activity android:name=".ui.chats.ChatDetailsActivity"></activity>
        <activity android:name=".ui.chats.ChatListActivity" />
        <activity android:name=".ui.NotificationsAllActivity" />
        <activity android:name=".ui.fragments.activity.SearchMyPingActivity" />
        <activity android:name=".ui.fragments.activity.SearchBlogActivity" />
        <activity android:name=".ui.fragments.activity.ViewOtherBlogsPingActivity" />
        <activity android:name=".ui.profile.ChangePasswordMobileNumberActivity" />
        <activity android:name=".ui.profile.PrivacyActivity" />
        <activity android:name=".ui.profile.FollowerFollowingHelpingActivity" />
        <activity android:name=".ui.profile.NotificationsActivity" />
        <activity android:name=".ui.profile.ChangePasswordActivity" />
        <activity android:name=".ui.profile.HelpSupportActivity" />
        <activity android:name=".ui.profile.SettingsActivity" />
        <activity android:name=".ui.profile.OpenOptionsActivity" />
        <activity android:name=".ui.profile.EditProfileActivity" />
        <activity android:name=".ui.addBlog.AddBlogImagesActivity" />
        <activity android:name=".ui.addBlog.AddLocationActivity" />
        <activity
            android:name=".ui.addBlog.AddImagesActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ui.fragments.activity.DetailBlogsActivity" />
        <activity android:name=".ui.addBlog.AddBlogActivity" />
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".ui.ForgotPasswordActivity" />
        <activity android:name=".ui.MobileRegisterActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.RegisterWithActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.LoginOrRegisterActivity" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.aryupay.helpingapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>